#section5 {
  width: 100%;
  height: 400vh;
  background-color: #fbf7f3;
  .scroll__wrap {
    .scroll__01 {
      width: 100%;
      height: 100vh;
      display: flex;
      .scroll__inner__img {
        width: 50vw;
        height: 100vh;
        background-image: url(../../images/scroll01.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
      .scroll__inner__img {
        filter: saturate(100%);
        transform: scale(1.025);
      }
    }
    .scroll__inner__text {
      width: 50vw;
      height: 100vh;

      .scroll__01__text01 {
        font-size: 8vw;
        margin-top: 4vw;
        margin-left: 2vw;
        color: #4b3d30;
        font-weight: normal;
      }
      .scroll__01__text02 {
        font-size: 1vw;
        margin-top: 3vw;
        margin-left: 3vw;
        font-family: AritaDotum;
      }
    }
    .scroll__02 {
      width: 100%;
      height: 100vh;
      display: flex;
    }
    .scroll__inner__text02 {
      width: 50vw;
      height: 100vh;

      .scroll__02__text01 {
        font-size: 8vw;
        margin-top: 4vw;
        margin-left: 23vw;
        color: #4b3d30;
        font-weight: normal;
      }
      .scroll__02__text02 {
        font-size: 1vw;
        margin-top: 3vw;
        margin-left: 20vw;
        font-family: AritaDotum;
        color: #4b3d30;
      }
    }
    .scroll__inner__img02 {
      width: 50%;
      height: 100vh;
      background-image: url(../../images/scroll02.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      transition: all 1s;
    }
    .scroll__03 {
      width: 100%;
      height: 100vh;
      display: flex;

      .scroll__inner__img03 {
        width: 50%;
        height: 100vh;
        background-image: url(../../images/scroll03.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: all 1s;
      }
      .scroll__inner__text03 {
        width: 50%;
        height: 100vh;
        .scroll__03__text01 {
          font-size: 8vw;
          margin-top: 4vw;
          margin-left: 2vw;
          color: #4b3d30;
          font-weight: normal;
        }
        .scroll__03__text02 {
          font-size: 1vw;
          margin-top: 3vw;
          margin-left: 3vw;
          font-family: AritaDotum;
          color: #4b3d30;
        }
      }
    }
    .scroll__04 {
      width: 100%;
      height: 100vh;
      display: flex;
      .scroll__inner__text04 {
        width: 50%;
        height: 100vh;
        .scroll__04__text01 {
          font-size: 8vw;
          color: #4b3d30;
          margin-left: 16vw;
          margin-top: 6vw;
        }
        .scroll__04__text02 {
          font-size: 1vw;
          margin-top: 3vw;
          margin-left: 17vw;
          color: #4b3d30;
          font-family: AritaDotum;
        }
      }
      .scroll__inner__img03 {
        width: 50%;
        height: 100vh;
        background-image: url(../../images/scroll04.png);
        transition: all 1s;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
